{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block active_about_company %}active{% endblock %}
{% block body %}

<!-- About Start -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-12 pb-5 pb-lg-0 px-3 px-lg-5">
<!--                <h4 class="text-secondary mb-3">About Us</h4>-->
                <h1 class="display-4 mb-4"><span class="text-primary">Our Vision</span></h1>

                <h2>Themes, Objectives, Outputs &amp; Structures</h2>

                <p>The CSO will change significantly in the coming year.</p>

                <p>The CSO has evolved over the last few years and reacted to changes in demand, needs, problems and policies. Although it has successfully supported organisations and individuals for over 5 years it now become more pro-active in its approach, more strategic in what it offers and stronger in its demonstration of its expertise and knowledge.</p>

                <p>CSO has undergone major restructuring and changes with the appointment of a Somali speaking director after 8 years and professionalization of the Board of Trustees. CSO has also its first ever woman Chair and a gender balanced board.</p>

                <p>The proposed change to the structure will represent a more coherent and coordinated approach to a rapidly changing environment. The use of a &lsquo;themed&rsquo; based model will allow new projects, activities and interventions to be managed strategically and focused on pertinent issues facing the Somali community and Somali organisations in the UK over the next three&nbsp;years.</p>

                <p>Four distinct but connected themes will oversee the operational delivery of projects and activities, reporting directly to the Director, allowing him to manage and lead and be more visible in the sector.</p>

                <p>The CSO&rsquo;s Board as result of the Member&rsquo;s Needs Assessment conducted in 2019 and a review of CSO&rsquo;s objectives has identified that the 3 major strategic themes for the next 3 years are;</p>

                <ul>
                    <li><em>Education;</em></li>
                    <li><em>Employment;</em></li>
                    <li><em>Health and Wellbeing;</em></li>
                    <li><em>and with the overarching theme of Criminal Justice across .</em></li>
                </ul>

                <p>It is envisaged and recommended that each theme will have a Working subgroup from CSO&rsquo;s members will have a combination of paid staff and volunteers with at least one allocated board member.</p>

                <p>With this in mind, CSO will endeavor to ensure that each theme has a strategic person from the board allocated to it &ndash; this will serve a dual purpose &ndash; supporting each theme to function with the vision and mission in mind as well as ensuring that the individual theme are continuously feeding into the organisations planning.</p>

                <p>In addition it will be imperative that CSO members are aligned to specific themes &ndash; allowing for a strong cohort involved and representing each theme. This will give focus for member organisations and a more efficient use of time and capacity. (Each member can be aligned to more than one theme as long as their core work is linked).</p>

                <p>Each themed department/sub group will have three core function:&nbsp;<strong>Policy, Voice and Development.</strong></p>

                <h3>Policy</h3>

                <p>To be able to respond and influence policies at local and national level including participating in consultations, writing reports and producing briefing papers as well as producing action research.</p>

                <h3>Voice</h3>

                <p>To be able to express and represent the needs, issues and narrative of the Somali community and Somali community organisations. To be able to develop a collective voice at various platforms including social media, events, reports, consultations, Government level, main stream media etc.</p>

                <h3>Development</h3>

                <p>To develop the skills and capacity of the Somali community sector. This should be done from two separate but overlapping avenues: Leadership development and organization development and should be done via a range of tools, i.e. training, coaching, action learning and mentoring. It is important to develop both the people and the structures.</p>

                <p>Training and workshops should include the standard capacity building topics as there is continued need for these (Writing better Funding Applications, Monitoring and evaluation, perfecting your pitch, H&amp;S, Safeguarding,&nbsp; governance , strategic planning etc.), however&nbsp; there is a gap in areas&nbsp; such as marketing, messaging, social media, networking etc.</p>

                <h2>Outputs &amp; Activities</h2>

                <h3>Objective 1 - Research</h3>

                <p><strong>Action:</strong>&nbsp;produce an annual report, launched at CSO&rsquo;s annual conference. Produce quarterly reports on the thematic priorities that are circulated throughout the membership. Use research evidence in key meetings, boards, and other fora.</p>

                <h3>Objective 2 &ndash; Partnership</h3>

                <p><strong>Action:&nbsp;</strong>&nbsp;to foster an environment of partnership and collaboration, creating opportunities for people to work together for the good of the Somali community.</p>

                <h3>Objective 3 &ndash; Leadership and professional skills</h3>

                <p>Action<strong>:</strong></p>

                <ol>
                    <li>Organising, amplifying and articulating the collective voice and needs of the Somali Community at Local, Pan-London and National level.</li>
                    <li>Building bridges within the Somali Community and also with the wider BAME communities.</li>
                    <li>Enabling the environment for the development of community leadership, especially women.</li>
                </ol>

                <p>N.B.: The diagram below is for illustration purposes.</p>

                <p><img alt="CSO Hierarchy" src="http://cso.cm-server.com/assets/930_cso-heirarchy.png" /></p>



            </div>

        </div>
    </div>
    <!-- About End -->

{% endblock %}
