{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block active_about_company %}active{% endblock %}
{% block body %}

<!-- About Start -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-12 pb-5 pb-lg-0 px-3 px-lg-5">
<!--                <h4 class="text-secondary mb-3">About Us</h4>-->
                <h1 class="display-4 mb-4"><span class="text-primary">What We Do</span></h1>
                <p>CSO works directly with Somali led organisations and supports the wider Somali community in the UK by:</p>

                <ul>
                    <li>Providing a community hub that encourages and enables Somali led organisations to participate more effectively with the wider community.</li>
                    <li>Increasing, or coordinating, opportunities for members of the Somali community to engage with service providers and to enable those providers to adapt services.</li>
                    <li>Providing education and information to support and enable the Somali community and their children to succeed, both generally and in relation to their social exclusion.</li>
                    <li>Raising public awareness of issues affecting the Somali community.</li>
                    <li>Providing development support, forums, advocacy and general support to better meet the needs of the Somali community.</li>
                </ul>

                <p><strong>We represent the Somali community in relation to the following:</strong></p>

                <ul>
                    <li>Policy, advocacy and campaigning at a regional and national level, on issues such as poverty, health, employment and education.</li>
                    <li>In relation to funders, understanding of their needs and membership of Funders Race Equality forums.</li>
                    <li>In relation to race equality issues, through our membership of various forums such as Hear Equality, Coalition on Race Equality and the Mayor&rsquo;s Equality, Diversity and Inclusion&nbsp;Panel.</li>
                    <li>In relation to promoting religious harmony and understanding with the Board of Deputies (Jewish community), Muslim Council of Britain, Faith and Communities Workstream and the Church of England.</li>
                </ul>

                <p><strong>As members of CSO, organisations gain:</strong></p>

                <ul>
                    <li>Access to Policy and Regulations Consultations</li>
                    <li>Access to Working Groups</li>
                    <li>Access to Networking Events</li>
                    <li>Access to Training</li>
                    <li>Advertise Events, Services and Vacancies on our website</li>
                    <li>Technical Support on a Range of Organisational Issues</li>
                    <li>Support and Guidance on Grant/Funding Applications&nbsp;</li>
                </ul>


            </div>

        </div>
    </div>
    <!-- About End -->

{% endblock %}
